{% extends "store_app/base.html" %}
{% load static %}

{% block title %}Books{% endblock %}

{% block pageheader %}
    <h1>Available books</h1>
{% endblock %}
{% block navcol1 %}
    {% if user.is_authenticated %}
         <a href="{% url 'order_list' %}" role="button" class="btn btn-default" >To my orders</a>
    {% else %}
         <a href="{% url 'login' %}" role="button" class="btn btn-default" >Login</a>
    {% endif %}
{% endblock %}
{% block navcol2 %}
    {% if user.is_authenticated %}
        <a href="{% url 'order_new' %}" role="button" class="btn btn-default" >Create order</a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="content">
        <table>
            {% for bk in object_list %}
                <tr>
                    <td><b>Title:</b> {{ bk.title }}</td>
                </tr>
                <tr>
                    <td><b>ISBN:</b> {{ bk.ISBN }}</td>
                    <td><b>Pages:</b> {{ bk.pages }}</td>
                    <td><b>Price:</b> {{ bk.price }}</td>
                    <td><b>Publication date:</b> {{ bk.pubdate }}</td>
                    <td><b>Quantity:</b> {{ bk.quantity }}</td>
                </tr>
                <tr>
                    <td colspan="5" class="divider"><hr/></td>
                </tr>
            {% empty %}
                <tr>
                    <td><b>No books yet.</b></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
