{% extends "./base.html" %}

{% block title %}Comment{% endblock %}

{% block pageheader %}
    {% if ps_name %}
        <h1>New comment on "{{ ps_name }}"</h1>
    {% else %}
        <h1>New comment</h1>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="block-header">
        <h3>Enter your name and comment:</h3>
    </div>
    <div class="content">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
    <div class="block-header">
        <a href="{% url 'post_list' %}"> << Back to the list of posts >> </a>
    </div>
{% endblock %}
