{% extends "./base.html" %}

{% block title %}Order Item{% endblock %}

{% block pageheader %}
    {% if object.title %}
         <h1>{{ object.title }}</h1>
    {% else %}
         <h1>New item</h1>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="block-header">
        <h3>Enter or change all required data:</h3>
    </div>
    <div class="content">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
    <div class="block-header">
        <a href="{% url 'order_cart' %}"> << To the cart >> </a>
    </div>
{% endblock %}
